*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: serif;
}
body{
    background: #272424;
}
.container{
    width: 975px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
    position: relative;
    margin: 20px 0;
    width: 245px;
    height: 280px;
    transform-style: preserve-3d;
    transform: perspective(2000px);
    transition: 1s;
    background: #424242;
    box-shadow: inset 30px 0 50px rgba(0, 0, 0, 05);
}
.card:hover{
    z-index: 100;
    transform: perspective(2000px) rotate(-10deg);
}
.card .imgbox{
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid #000;
    box-sizing: border-box;
    transform-origin: left;
    z-index: 1;
    background: rgba(179, 177, 177);
    transition: 1s;
}
.card:hover .imgbox{
    transform: rotateY(-135deg);
}
.card .imgbox img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card .delails{
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 20px;
    font-family: system-ui;
    color: #bebebe;
}
